.container-fluid img {
    padding: 0 10px;
}

.LogIn {
    background-image: url(imagenes/fondo.png);
    height: 700px;
    padding: 100px 20px;
}

.card-body {
    flex: none;
}

footer .derechos-de-autor {
    color: rgb(129, 129, 129);
    font-size: smaller;
    padding: 20px;
}